body{
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, auto);
  place-content: center;
  justify-items: center;
  background-color: #e2b8d4;
  --outer-circle: large cw;
}

.flower {
  width: 250px;
  aspect-ratio: 1;
  background: linear-gradient(60deg, #b30eff, #9bf8ff);
  clip-path: shape(from 75.4762724747% 50%, 
                   arc to 57.872601148% 74.229374948% of 18.5095954079% var(--outer-circle), 
                   arc to 29.3892626146% 64.974577244% of 18.5095954079% var(--outer-circle), 
                   arc to 29.3892626146% 35.025422756% of 18.5095954079% var(--outer-circle), 
                   arc to 57.872601148% 25.770625052% of 18.5095954079% var(--outer-circle), 
                   arc to 75.4762724747% 50% of 18.5095954079% var(--outer-circle));
}

.flowerAni {
  z-index: 1000;
  animation-name: flowerAni;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes flowerAni{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(15);
  }
}

/* ZONDER VAR:

.flower {
  width: 250px;
  aspect-ratio: 1;
  background: linear-gradient(60deg, #ED303C, #FF9C5B);
  clip-path: shape(from 75.4762724747% 50%, 
                   arc to 57.872601148% 74.229374948% of 18.5095954079% large cw, 
                   arc to 29.3892626146% 64.974577244% of 18.5095954079% large cw, 
                   arc to 29.3892626146% 35.025422756% of 18.5095954079% large cw, 
                   arc to 57.872601148% 25.770625052% of 18.5095954079% large cw, 
                   arc to 75.4762724747% 50% of 18.5095954079% large cw);
}

*/
button{
  margin-top: 50px;
  width: 175px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #2e0063;
  border-color: #963bff;
  border-width: 5px;
  color: #FFFF;
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
  animation: rotate 0.4s infinite ease-in-out;
}


button:hover{
  background-color: #FFFFFF;
  color: black;
  border-color: black;
  cursor: pointer;
}

.clicked{
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%, 50%, 57%, 64% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  100%{
    background-color: rgb(255, 0, 0);
    border: none;
    color: #ffffff;
  }
}

/*
@keyframes rotate{
  0%{
    rotate: 0deg;
  }
  12.5%{
    rotate: 1deg;
  }
  25%{
    rotate: 2deg;
  }
  37.5%{
    rotate: 1deg;
  }
  50%{
    rotate: 0deg;
  }
  62.5%{
    rotate: -1deg;
  }
  75%{
    rotate: -2deg;
  }
  87.5%{
    rotate: -1deg;
  }
  100%{
    rotate: 0deg;
  }
}*/

/* BETER: */


@keyframes rotate {
  0%, 50%, 100% {
    rotate: 0deg;
  }
  25% {
    rotate: 2deg; 
  }
  75% {
    rotate: -2deg; 
  }
}

/* maybe voor later 

@keyframes rotate {
  0%, 100% {
    rotate: 0deg;
  }
  25%, 75% {
    rotate: calc(sin(var(--progress)) * 2deg);
  }
}

*/
