<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} – I &lt;3 Web</title>

    <script src="/public/scripts/" type="module"></script>
    </head>
    <body>  
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/learning-journal">Learning Journal</a>
            </nav>
        </header>