{% render 'partials/head.liquid', title: 'Learning Journal' %}

<main>
    <h1>{{  metadata.title }}</h1>
    <p class="datum">{{ metadata.date }}</p>
    {{ fileContents }}
</main>

{% render 'partials/foot.liquid' %}