{% render 'partials/head.liquid', title: 'Luuk Tol: I Love Web' %}

<main>
    
<div class="border-entire-page"></div>

    <header>
        <div class="top-box--1-for-ani"></div>
            <p>Hoi mijn naam is Luuk!</p>
        <div class="top-box--2-for-ani">
            <p>En ik maak mooi spul op de interwebs.</p>
            <p>Check alles hieronder!</p>
        </div>
    </header>

    <nav>

        <article class="nav-box-1">
            <a href="/learning-journal">
                <h1>Learning Journal</h1>
            </a>
            <aside class="info-1" hidden>
                <p>Wil jij weten wat ik allemaal heb geleerd in mijn tijd op HVA als FDND'ER, of zegmaar ooit? Check dan mijn learning Journal! Staan veel leuke dingen in.</p>
            </aside>
        </article>

        <article class="nav-box-2">
            <a href="/mijn-werk">
                <h2>Gemaakt werk</h2>
            </a>
            <aside class="info-2" hidden>
                <p>Hierin kan je alles vinden dat ik ooit heb gemaakt!</p>
            </aside>
        </article>

        <article class="nav-box-3">
            <a href="/mijn-werk">
                <h3>Bla Bla</h3>
            </a>
            <aside class="info-2" hidden>
                <p>Ik heb hier nog niks verzonnen.</p>
            </aside>
        </article>

        <article class="nav-box-4">
            <a href="/mijn-werk">
                <h3>Extra'tjes</h3>
            </a>
            <aside class="info-2" hidden>
                <p>Belangrijke extra's zoals een FAQ, en wat meer over mij.</p>
            </aside>
        </article>

    </nav>
    <p class="copyright">&copy; 2025, Luuk Tol</p>
</main>

{% render 'partials/foot.liquid' %}