{% render 'partials/head.liquid', title: 'Homepage'  home: '<a href="/" class="home-button" aria-label="Home" tabindex="0"><img src="/assests/homebutton.svg" alt="" class="home-text"></a>' %}

<main>

</main>

{% render 'partials/foot.liquid' %}