{% render 'partials/head.liquid', title: 'Luuk Tol: I Love Web' %}

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<main>

    <header>
        <div class="top-box--1-for-ani">
            <img src="/assests/pics/luuk-1.svg" alt="A hand-drawn picture of Luuk greating you" width="200" height="200">
        </div>
        <div class="top-box--2-for-ani">
            <img src="/assests/pics/luuk-2.svg" alt="A hand-drawn picture of Luuk point down and showing you you should look at his work" width="200" height="200">
        </div>
    </header>

    <nav>

        <article class="nav-box-1">
            <div class="border-on-text">
                <a href="/learning-journal">
                    <h1>Learning Journal</h1>
                </a>
                </div>
            <aside class="info-1" hidden>
                <p>Wil jij weten wat ik allemaal heb geleerd in mijn tijd op HVA als FDND'ER, of zegmaar ooit? Check dan mijn learning Journal! Staan veel leuke dingen in.</p>
            </aside>
        </article>

        <article class="nav-box-2">
            <div class="border-on-text">
                <a href="/mijn-werk">
                    <h2>My work</h2>
                </a>
            </div>
            <aside class="info-2" hidden>
                <p>Hierin kan je alles vinden dat ik ooit heb gemaakt!</p>
            </aside>
        </article>

        <article class="nav-box-3">
            <div class="border-on-text"></div>
                <a href="/blog">
                    <h3>Blog</h3>
                </a>
            </div>
            <aside class="info-2" hidden>
                <p>Ik heb hier nog niks verzonnen.</p>
            </aside>
        </article>

        <article class="nav-box-4">
            <div class="border-on-text">
                <a href="/blog">
                    <h3>Extra's</h3>
                </a>
            </div>
            <aside class="info-2" hidden>
                <p>Belangrijke extra's zoals een FAQ, en wat meer over mij.</p>
            </aside>
        </article>

    </nav>
</main>

<p class="disclaimer">This site is best experienced on chrome</p>

<p class="copyright">&copy; 2025, Luuk Tol</p>

<div class="border-entire-page"></div>

{% render 'partials/foot.liquid' %}