<!DOCTYPE html>

<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Blog</title>

    <script src="/public/scripts/" type="module"></script>
</head>

<body> 

    <main>

    <div class="red-line">
        <div class="red-line-break">
            <a href="/" class="home-button-blog">Home</a>
        </div>
        
    </div>

        <article class="paper">
            
            <header>
                <h1>Learning-Journal</h1>
            </header>

            <section>
                <h2>Sprint 13: Your Tribe for Life</h2>
                <h3>Week 1</h3>
                <h4>Persoonlijke leervragen:</h4>
                <p>Hoe combineer ik mijn I-Love-Web met school en hoe leer ik mijn tijd inplannen om zo ook met mijn bijbaan uit te komen. Ik kan stoppen, maar hoe verdien ik dan geld?</p>
                <p>Hoe leer ik met een team afspraken maken en ons ook hieraan houden. Dus hoe stoppen we met laks zijn en gaan we echt teamwork maken, hoe werken wij met code conventies</p>
                <p>Naast de leertaken hebben we vandaag ook weer een start gemaakt aan de opleiding. We hebben uitleg gekregen over hoe de komende weken eruit gaan zien, en zijn begonnen
                met onze samenwerking voor de nieuwe squadpage site. In onze github hebben we onze afsprakenb= duidelijk opgeschreven en gaan we beginnen met het framework sveltekit.
                </p>
            </section>
            

        </article>

    </main>

</body>