header{
    display: grid;
    grid-template-areas: 
    "box-1"
    "box-2"
}

nav{  
    display: grid; 
    grid-template-areas: 
    "box-3"
    "box-4"
    "box-5"
    "box-6"; 
         @media (min-width: 600px) {
                grid-template-areas: 
                "box-3 box-4"
                "box-5 box-6"; 
            }
    margin-left: calc(var(--border-entire-page) - 6px);
}

.top-box--1-for-ani{
    grid-area: box-1; 
}

.top-box--2-for-ani{
    grid-area: box-2; 
}

.nav-box-1{
    grid-area: box-3; 
    width: 100%;
    background-color: #A7FFBE;
    position: relative;
}

.nav-box-2{
    grid-area: box-4; 
    width: 100%;
    background: #D466AF;
    position: relative;
}

.nav-box-3{
    grid-area: box-5; 
    position: relative;
    width: 100%;
    background: #FF8F8F;
}

.nav-box-4{
    grid-area: box-6; 
    position: relative;
    background: #a2d8f1;
}


/*----------------------------------- Border page --------------------------------------*/

.border-entire-page {
    border: var(--border-entire-page) solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box; 
    background-image: url('/assests/noise.svg');
    z-index: 2;
    pointer-events: none;
}

/*----------------------------------- COPYRIGHT --------------------------------------*/

.copyright{
    border: solid 8px;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 27px;
    position: sticky;
    margin: 0;
    background-color: var(--primary-color);
    z-index: 3;
}

