@font-face {
    font-family: 'Action-Man';
    src: url(/fonts/action_man/Action-Man.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    border: solid var(--border-entire-page);
    font-family: var(--main-font);
    background-color: var(--primary-color);
    background-image: url('/assests/noise.svg');
    min-height: 100vh;

    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

        /* boven | rechts | onder | links */
        /* margin: 0 0 0 0; */

/*----------------------------------- ALLE VARIABELEN --------------------------------------*/
body {

    /* Lettertypen */
    --main-font: 'Action-Man', sans-serif;

    /* Lettergroottes voor koppen */
    --h1: 60px;
    --h2: 40px;
    --h3: 24px;
    --h4: 30px;

    --main-p: 16.6px;
    --big-text: 20px;
    --big-important-text: 24px;

    /* Font weight */
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 800;

    /* Kleuren */
    --primary-color: #FFFFFF;

    /* Knoppen */
    --button-background-color: #BB57C4;

    /* border-helepagina */
    --border-entire-page: 15px;

}

/*----------------------------------- VARIABELEN VOOR ALLE KNOPPEN EN ANDERE ELEMENTEN --------------------------------------*/

main{
    margin: 5px;
}

/*----------------------------------- HEADER STYLE, GELDIG VOOR ELKE PAGINA --------------------------------------*/

/*----------------------------------- BUTTONS --------------------------------------*/

.home-button{
    border: solid 10px;
    background-color: var(--button-background-color);
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    .home-text{
        position: relative;
        top: 10px;
        padding: 3px;
        height: 100px;
    }
}

/*----------------------------------- COPYRIGHT --------------------------------------*/
.copyright{
    border: solid 8px;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 27px;
    position: absolute;
    bottom: 0;
    right: calc(var(--border-entire-page) - 8px);
    margin: 0;
    background-color: var(--primary-color);
}

.remove-later{
    position: absolute;
    right: var(--border-entire-page);
}
/* -------------------------------- ANIMATIE ----------------------------------- */

@view-transition{
    auto;
}

.test{
    view-transition-name: slide;
}

.beschrijving{
    view-transition-name: revslide;
}

::view-transition-new(revslide){
    animation: .25s cubic-bezier(.08,.85,.85,.54) ease-out slide-out
}

::view-transition-old(revslide){
    animation: .25s cubic-bezier(.08,.85,.85,.54) ease-out slide-in
}

::view-transition-new(slide) {
    animation: .25s cubic-bezier(.4,0,.2,1) both slide-in
}

::view-transition-old(slide) {
    animation: .25s cubic-bezier(.4,0,.2,1) both slide-out
}

@keyframes slide-in {
    0% {
        transform: translateY(-70px)
    }
}

@keyframes slide-out {
    to {
        transform: translateY(-70px)
    }
}
