@font-face {
    font-family: 'Goofyahh';
    src: url(goofyahhfont.otf) format(OpenType);
}

body {
    background-image: url(kowhad.jpg);
    font-family: 'Goofyahh', Arial, sans-serif;
    color: white;
}