<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-for-tests/clip-path.css">
    <title>Testje </title>
</head>
<body>
    <div class="flower" style="--t: large cw"></div>
</body>
</html>