<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Flow+Block&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/css-for-tests/viewtrans.css">
    <title>viewtrans</title>
</head>
<body>
    <header>
        <a href="/opdrachtjes/viewtrans1" class="redo" aria-label="redo">Test opnieuw</a>
        <p class="hint"><em>Hint:</em>of refresh de browser</p>
    </header>
    <main>
        <h1>View transition (Cross Page)</h1>
        <p><em>Hint:</em>klik op de button</p>
        <a class="test" href="/opdrachtjes/viewtrans1">De test is gelukt!</a>
        <description class="beschrijving">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum vestibulum sollicitudin. Maecenas a viverra urna. Ut at laoreet elit, non ullamcorper dolor. Donec ut vulputate arcu. Aenean auctor nisi dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut turpis sit amet nulla fringilla facilisis. Proin in lectus metus. Mauris quis maximus risus. Pellentesque turpis nibh, ultrices vitae urna eu, blandit feugiat risus. Sed quis tincidunt mauris, venenatis tempor nibh.
            Suspendisse sem lorem, posuere et dignissim et, consequat ac sem. Suspendisse potenti. Suspendisse pharetra mauris non sollicitudin congue. Praesent vitae dolor placerat, lacinia nibh sed, semper mi. Duis id magna nulla. Mauris rutrum dui et egestas aliquam. Cras sit amet diam id nunc auctor euismod. Nunc elementum sem augue, consequat venenatis magna ullamcorper non. Suspendisse in tortor sed arcu vehicula sagittis. Cras at diam eu elit ornare pretium nec quis est. Quisque varius ante non blandit suscipit. Ut faucibus quis ex a auctor. Praesent vitae risus dapibus, varius risus in, semper ligula. Fusce a lorem odio. Mauris commodo feugiat lacus, id consequat odio rhoncus in.</p>
        </description>
    </main>
    <a href="https://developer.chrome.com/docs/web-platform/view-transitions/same-document">Bijzonder handige link</a>
</body>
</html>